.tableClass {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 3rem;
  
}

.actionButton {
    width: 150px
}

td,
th {
    border: 1px solid #dddddd;
    width: 200px;
    text-align: left;
    padding: 8px;
}